.pickerWrapper {
    width: 80%;
}

.allTimes {
    row-gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeCard {
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    width: 90%;
    box-shadow: 1px 0px 11px 1px #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .makeOrderBtn {
        width: 50%;
        text-align: end;

        button {
            background: #ffca51ad;
            border: transparent;
            border-radius: 6px;
            height: 26px;
            width: 50%;
        }
    }

    .hourOfOrder {
        width: 50%;
    }
}

.scheduleWrapper {
    .rdp {
        background: #35383f;
        border-radius: 15px;
        padding: 10px;
        color: #fff;
        margin: 0;

        .rdp-day_selected {
            background-color: #FFAD34;
        }
    }

    .optionsWrapper {
        .optionsTitle {
            color: #fff;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .timesOptions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: scroll;
            gap: 10px;
            margin-top: 10px;
            width: 84vw;

            .timeOption {
                border: 1px solid #FFAD34;
                border-radius: 15px;
                width: 100px;
                height: 35px;
                padding: 0 6px;
                line-height: 35px;

                .MuiButton-label {
                    color: #fff;
                }
            }
        }

    }





}

.modal {

    // background-color: white;
    .box {
        .css-ix1f03-MuiTypography-root {
            margin-top: 0px;
        }
    }
}

.modalFooter {
    display: flex;
    align-items: flex-end;
    justify-content: end;

    .MuiButton-root {
        color: #FFAD34 !important;
    }
}

a {
    text-decoration: none;
}